%h1 People
%p= link_to 'new_person', new_person_path

%table.dataTable
  %thead.person_table
    %tr
      %th= Person.human_attribute_name :name_first
      %th= Person.human_attribute_name :name_last
      %th= Person.human_attribute_name :name_prefix
      %th= Person.human_attribute_name :name_suffix
      %th= 'show'
  
  %tbody
    - @people.each do |person|
      %tr{ :class => cycle(:odd, :even) }
        %td= person.name_first
        %td= person.name_last
        %td= person.name_prefix
        %td= person.name_suffix

        %td.action= link_to 'show', person